<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.liberize.dict</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1CBAA26B-7D1D-47B5-A997-170596301266</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A28134B-75EF-4C8E-9578-8D28B5AAC7F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3E2DFED0-0EEB-4957-ADB0-A804CBBE3747</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A28134B-75EF-4C8E-9578-8D28B5AAC7F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>89A1C4A1-2813-4CEC-B312-B728E54B5D59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A28134B-75EF-4C8E-9578-8D28B5AAC7F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9A8F49BF-1304-4AC1-BA87-2BCF23C6D9C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A28134B-75EF-4C8E-9578-8D28B5AAC7F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C6E96055-A9FC-4B3E-BE9B-8D9B6B7ED15F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8F4627F-6071-4FD3-9249-014727AED0C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1CBAA26B-7D1D-47B5-A997-170596301266</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Lookup this word youdao dict.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF3B3202-CBC6-459A-80F8-4BD2D77EBAC6</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Lookup this word iciba dict.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A8F49BF-1304-4AC1-BA87-2BCF23C6D9C3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Lookup this word in baidu dict.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>89A1C4A1-2813-4CEC-B312-B728E54B5D59</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Lookup this word in system dict.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E2DFED0-0EEB-4957-ADB0-A804CBBE3747</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Lookup this word in bing dict.</string>
			</dict>
		</array>
		<key>CF3B3202-CBC6-459A-80F8-4BD2D77EBAC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A28134B-75EF-4C8E-9578-8D28B5AAC7F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D29C9083-5950-4076-AAE6-E64E87E69F0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6E96055-A9FC-4B3E-BE9B-8D9B6B7ED15F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F8F4627F-6071-4FD3-9249-014727AED0C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A28134B-75EF-4C8E-9578-8D28B5AAC7F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>liberize</string>
	<key>description</key>
	<string>Lookup word in system dict, youdao dict, iciba dict, baidu dict or bing dict.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dict - Lookup Word</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python ./actions.py "{query} &gt; open"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8F4627F-6071-4FD3-9249-014727AED0C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python ./actions.py "{query} @ yd"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1CBAA26B-7D1D-47B5-A997-170596301266</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python ./actions.py "{query} @ cb"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF3B3202-CBC6-459A-80F8-4BD2D77EBAC6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D29C9083-5950-4076-AAE6-E64E87E69F0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Dict - Lookup Word</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3A28134B-75EF-4C8E-9578-8D28B5AAC7F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>dict</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>python ./query.py "{query}"</string>
				<key>subtext</key>
				<string>Lookup word in system dict, youdao dict, iciba dict, baidu dict or bing dict.</string>
				<key>title</key>
				<string>Dict - Lookup Word</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C6E96055-A9FC-4B3E-BE9B-8D9B6B7ED15F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python ./actions.py "{query} @ bd"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9A8F49BF-1304-4AC1-BA87-2BCF23C6D9C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python ./actions.py "{query} @ sys"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89A1C4A1-2813-4CEC-B312-B728E54B5D59</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>python ./actions.py "{query} @ by"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E2DFED0-0EEB-4957-ADB0-A804CBBE3747</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1CBAA26B-7D1D-47B5-A997-170596301266</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>3A28134B-75EF-4C8E-9578-8D28B5AAC7F5</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>3E2DFED0-0EEB-4957-ADB0-A804CBBE3747</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>89A1C4A1-2813-4CEC-B312-B728E54B5D59</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>9A8F49BF-1304-4AC1-BA87-2BCF23C6D9C3</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>C6E96055-A9FC-4B3E-BE9B-8D9B6B7ED15F</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>CF3B3202-CBC6-459A-80F8-4BD2D77EBAC6</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>D29C9083-5950-4076-AAE6-E64E87E69F0B</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>F8F4627F-6071-4FD3-9249-014727AED0C4</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>liberize.me</string>
</dict>
</plist>
